*.pdb
*.dll
*.obj
*.manifest
*.manifest.res
*.lib
*.suo
*.ncb
*.ilk
*.pch
*.dep
*.idb
*.exe
*.aps
*.vcproj.*.user
BuildLog.htm
pluginManager/projects/2005/debug/
pluginManager/projects/2005/Release/
gpup/projects/2005/Debug/
gpup/projects/2005/Release/