*.pdb
*.dll
*.obj
*.manifest
*.manifest.res
*.lib
*.suo
*.ncb
*.ilk
*.pch
*.dep
*.idb
*.exe
*.aps
*.old
*.ipch
*.sdf
*.opensdf
*.vcproj.user
*.vcproj.*.user
*.vcxproj.user
*.opendb
*.db
BuildLog.htm
doc/Thumbs.db
Debug/
Release/
ANSI-Debug/
ANSI-Release/
Debug-xml-test/
ANSI-Debug-xml-test/
ANSI-Release-XML-Test/
Release-xml-test/
_UpgradeReport_Files/
UpgradeLog.XML
paths.props

