<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ImportGroup Label="PropertySheets" />

  <PropertyGroup Label="UserMacros">
    <TestNotepadPlusPlusUnicode>c:\path\to\your\test\notepad++\unicode</TestNotepadPlusPlusUnicode>
    <TestNotepadPlusPlusX64>c:\path\to\your\test\notepad++\x64</TestNotepadPlusPlusX64>
    <TestNotepadPlusPlusAnsi>c:\path\to\your\test\notepad++\ansi</TestNotepadPlusPlusAnsi>
  </PropertyGroup>
</Project>